<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ostrovec.mygarden"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyGardenApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ui.guide.activity.GuideActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity
            android:name=".ui.myplants.activity.MyPlantsActivity" />
        <activity
            android:name=".ui.addplant.activity.AddPlantActivity" />
        <activity
            android:name=".ui.updateplant.UpdatePlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.signup.SignUpActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.sign.signin.SignInActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.settings.SettingsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>